<div class="details" *ngIf="countryDetails">

    <dl>
        <img src={{countryDetails.flag}} height="100px"/>
        <h2>{{ countryDetails.name }}</h2>
        <dt><p><strong>Population:</strong> {{ countryDetails.population }}</p></dt>

        <dt><p><strong>Capital:</strong> {{ countryDetails.capital }}</p></dt>

        <dt><strong>Timezones:</strong></dt> 
        <dd>
            <ul>
                <li *ngFor="let timezone of countryDetails.timezones"> {{timezone}}</li>
            </ul>
        </dd>

        <dt><strong>Languages:</strong></dt>
        <dd>
            <ul>
                <li *ngFor="let language of countryDetails.languages" > {{language.name}}</li>
            </ul>
        </dd>

        <dt><strong>Currencies:</strong></dt>
        <dd>
            <ul>
                <li *ngFor="let currency of countryDetails.currencies"> {{currency.code}}</li>
            </ul>
        </dd>

        <dt><strong>Bordering countries:</strong></dt>
        <dd>
            <ul>
                <li *ngFor="let countryCode of countryDetails.borders"> {{countryCode}}</li>
            </ul>
        </dd>
    </dl>

</div>